body {
    background-color: rgb(66, 148, 185)
}

h1 {
    margin-top: auto;
    padding: 10px 0;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-variant: small-caps;
    text-shadow: 3px 1px 3px rgb(63, 35, 35);
    letter-spacing: 3px;
    text-align: center;
}

.details {
    margin-top: 100px;
}

.details, p {
    padding: 10px
}

.details-container{
    display: block;
    color: white;
}

.Details > img {
    width: 550px;
    /* min-height: 35vw; */
    max-height: 60vw;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 2px;
    border-style: solid;
    position: relative;
    margin: 0;
}

a {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-weight: bolder;
}

.Details > a:hover {
    color: rgb(255, 255, 255);
    cursor: context-menu;
}