.App {
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.item {
  padding: 1px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0px;
  color: white;
  background-color: black;
  width: 100%;
  opacity: 0.8;
}

.item:hover .overlay {
  display: block;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .movie-title {
    display: block;
  }
}